[Desktop Entry]
Encoding=UTF-8
Name=CurrentCoin
Comment=CurrentCoin P2P Cryptocurrency
Comment[fr]=CurrentCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CurrentCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/CurrentCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/CurrentCoin;
Categories=Office;
